.mainButton {
    background-color: var(--primary);
    padding: 1rem;
    font-family: inherit;
    border: none;
    color: whitesmoke;
    border-radius: 5px;
    display: flex;
    place-items: center;
    gap: 0.5rem;
}

.mainButton:hover {
    background-color: var(--secondary);
    cursor: pointer;
    outline: none;
}

.mainButton:focus {
    outline: 1px solid whitesmoke;
}

.image {
    position: relative;
    height: 100%;
}
